.chat {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1024px;
}

.messageWrapper {
  max-height: 85vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #636363;
    border-radius: 10px;
  }
}

.inputWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 63px;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 13px;
  align-items: center;

  input {
    height: 42px;
    border-radius: 17.5px;
    border: 1px solid #005ebb;
  }
}
