.quiz {
  background-image: url("../../assets/image/quiz/背景圖片.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.quizWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .storyText {
    .text {
      font-size: 19px;
      font-weight: 900;
      line-height: 50px;
      text-align: center;
      opacity: 0;
      animation: lineAppear 1s forwards;
    }

    @keyframes lineAppear {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .buttonWrapper {
    z-index: 999;
    margin-top: 15px;

    button {
      opacity: 0;
      animation: buttonAppear 1s forwards;
      animation-delay: 3s;
    }

    @keyframes buttonAppear {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .pawWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    img {
      opacity: 0;
      animation: pawAppear 2s forwards;
    }

    .paw30 {
      position: absolute;
      top: 15px;
      right: 40%;
      animation-delay: 0.5s;
    }

    .paw50 {
      position: absolute;
      top: 40px;
      right: 50%;
      animation-delay: 1s;
    }

    .paw70 {
      position: absolute;
      top: 65px;
      right: 40%;
      animation-delay: 1.5s;
    }

    .paw90 {
      position: absolute;
      top: 90px;
      right: 50%;
      animation-delay: 2s;
    }

    .paw100 {
      position: absolute;
      top: 115px;
      right: 40%;
      animation-delay: 2.5s;
    }

    .cat {
      position: absolute;
      top: 150px;
      animation-delay: 3s;
    }
    @keyframes pawAppear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
