.selfSelect {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.title {
  letter-spacing: 1.92px;
  text-align: center;
}

.selectWrapper {
  margin-top: 33px;
}

.buttonWrapper {
  margin: 36px;
  text-align: center;
}
