// google font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700;800;900&display=swap");

:root {
  // font-family
  --main-font-family: "Noto Sans TC", sans-serif;
}

body {
  background-image: url("../assets/image/background.png");
  background-size: cover;
  background-position: center;
  font-family: var(--main-font-family);
  color: #fff;

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
  }

  h4 {
    font-size: 13px;
    font-weight: 700;
  }

  button {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
  }
}
