.chatBoxWrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin: 15px;

  .otherChatBox {
    position: relative;
    min-width: 46px;
    max-width: 150px;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    word-wrap: break-word;

    .otherText {
      font-size: 13px;
      font-weight: 700;
      line-height: 1.2;
      color: black;
      word-break: break-word;
    }

    &::after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 10px 15px 10px 0;
      border-color: transparent #fff transparent transparent;
      bottom: 0px;
      left: -5px;
    }
  }

  img {
    width: 60px;
  }
}

.selfChatBoxWrapper {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 10px;
  margin: 15px;

  .selfChatBox {
    position: relative;
    min-width: 46px;
    max-width: 150px;
    display: inline-block;
    background-color: #1e65a7;
    border-radius: 10px;
    padding: 10px 15px;
    word-wrap: break-word;

    .selfText {
      font-size: 13px;
      font-weight: 700;
      line-height: 1.2;
      color: #fff;
      word-break: break-word;
    }

    &::after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent #1e65a7;
      bottom: 0px;
      right: -5px;
    }
  }

  img {
    width: 60px;
  }
}

.timeText {
  font-size: 10px;
  color: #cdcdcd;
}
