.questionWrapper {
  background-image: url("../../assets/image/quiz/背景圖片.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
}
.illustration {
  margin-top: 45px;
}

.optionWrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
