.results {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 25px;

  img {
    height: 100%;
  }

  .buttonWrapper {
    position: absolute;
    bottom: 0;
  }
}
