.mode {
  display: flex;
  justify-content: center;
  padding: 50px;
}

h3 {
  text-align: center;
  margin-top: 14px;
  letter-spacing: 1.92px;
}

.option {
  margin-top: 28px;
  text-align: center;
  cursor: pointer;
}
