.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

img {
  width: 92px;
  height: 107.94px;
}

.selected {
  opacity: 1;
  cursor: pointer;
}

.notSelected {
  opacity: 0.5;
  cursor: pointer;
}
